h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  background: #4e75ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #6c8cff;
}

input {
  padding: 10px;
  font-size: 14px;
  width: 340px;
  border: 1px solid #808080;
  border-radius: 4px;
  transition: all 0.3s ease;
}

input:hover {
  border-color: #000;
}

input:focus {
  border-color: #4E75FF;
  outline: none;
  box-shadow: 0 0 5px rgba(78,117,255,0.5);
}
