/* загальні стилі */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f7f7f7;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  background: #4e75ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #6c8cff;
}

input {
  padding: 10px;
  font-size: 14px;
  width: 272px;
  border: 1px solid #808080;
  border-radius: 4px;
  transition: all 0.3s ease;
}

input:hover {
  border-color: #000;
}

input:focus {
  border-color: #4E75FF;
  outline: none;
  box-shadow: 0 0 5px rgba(78,117,255,0.5);
}

/* форма пошуку */
.form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.form button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

/* галерея */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0 60px;
}

.gallery-item {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.gallery-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 8px;
  text-align: center;
  gap: 8px;
}

.info div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-title {
  font-weight: 600;
  font-size: 12px;
  color: #2e2f42;
  margin-bottom: 4px;
}

.info-value {
  font-weight: 400;
  font-size: 12px;
  color: #2e2f42;
}

/* Кнопка Load more */
.load-more {
  margin: 20px auto;
  display: block;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.load-more:hover {
  background-color: #6c8cff;
}

.loader {
  width: 38px;
  height: 38px;
  border: 5px solid #4E75FF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
} 

/* приховати */
.hidden {
  display: none !important;
}
